CASSANDRA_HOSTS=
CASSANDRA_PORT=
CASSANDRA_KEYSPACE_NAME=
CASSANDRA_USERNAME=
CASSANDRA_PASSWORD=

MCS_URL=
MCS_USER=
MCS_PASSWORD=

AWS_CREDENTIALS_ACCESSKEY=
AWS_CREDENTIALS_SECRETKEY=
AWS_CREDENTIALS_ENDPOINT=
AWS_CREDENTIALS_BUCKET=